*3-Day Rolling Average*

In [2]:
import datetime
import numpy as np
import pandas as pd

In [3]:
my_data = pd.read_csv('my_raw_data.txt', sep=",", header=None, usecols=[0,1]) # Droping white spaces at the end (third column)
my_data.columns = ["transaction_time", "transaction_amount"]
my_data.transaction_time = pd.to_datetime(my_data.transaction_time)  # convert to Date/Time
my_data['transaction_amount'] = my_data['transaction_amount'].astype(float) # convert to float

In [4]:
my_data

       transaction_time  transaction_amount
0   2021-01-16 00:05:54               25.05
1   2021-01-07 20:53:04              124.00
2   2021-01-18 22:55:37               66.58
3   2021-01-21 00:36:57                9.99
4   2021-01-19 06:31:10               22.27
..                  ...                 ...
109 2021-01-11 00:06:39               87.10
110 2021-01-01 02:01:09              518.20
111 2021-01-15 20:55:58               47.72
112 2021-01-02 00:09:43               49.00
113 2021-01-08 00:49:22               31.61

[114 rows x 2 columns]

Calculate January 31's rolling 3 day average of total transaction amount processed per day

In [6]:
#Group by Date and Sum transactions per date
my_summary_date = my_data['transaction_amount'].groupby([my_data['transaction_time'].dt.date]).sum() # Get stotals per day
my_summary_date.index = pd.to_datetime(my_summary_date.index) # transform grouped dates to date types

In [7]:
my_summary_date

transaction_time
2021-01-01     6418.20
2021-01-02      646.31
2021-01-03       54.06
2021-01-04     1285.16
2021-01-05      835.55
2021-01-06      444.60
2021-01-07      975.80
2021-01-08      347.40
2021-01-09     1033.49
2021-01-10      751.75
2021-01-11     2303.94
2021-01-12    10458.58
2021-01-13      491.38
2021-01-14     1012.83
2021-01-15     2039.09
2021-01-16      136.43
2021-01-17       68.82
2021-01-18     1106.86
2021-01-19      372.76
2021-01-20      150.01
2021-01-21      625.97
2021-01-22      527.00
2021-01-23     1226.92
2021-01-24     1165.30
2021-01-25      290.95
2021-01-26     3004.47
2021-01-27      471.34
2021-01-28     8974.41
2021-01-29     1520.90
2021-01-30      466.12
2021-01-31       59.43
Name: transaction_amount, dtype: float64

In [8]:
#Calculate 3-day window averages per day
my_rolling_averages = my_summary_date.rolling(window=3).mean() # Do 3 day rolling window mean
my_rolling_averages.index = pd.to_datetime(my_rolling_averages.index) # transform grouped dates to date types

In [9]:
my_rolling_averages

transaction_time
2021-01-01            NaN
2021-01-02            NaN
2021-01-03    2372.856667
2021-01-04     661.843333
2021-01-05     724.923333
2021-01-06     855.103333
2021-01-07     751.983333
2021-01-08     589.266667
2021-01-09     785.563333
2021-01-10     710.880000
2021-01-11    1363.060000
2021-01-12    4504.756667
2021-01-13    4417.966667
2021-01-14    3987.596667
2021-01-15    1181.100000
2021-01-16    1062.783333
2021-01-17     748.113333
2021-01-18     437.370000
2021-01-19     516.146667
2021-01-20     543.210000
2021-01-21     382.913333
2021-01-22     434.326667
2021-01-23     793.296667
2021-01-24     973.073333
2021-01-25     894.390000
2021-01-26    1486.906667
2021-01-27    1255.586667
2021-01-28    4150.073333
2021-01-29    3655.550000
2021-01-30    3653.810000
2021-01-31     682.150000
Name: transaction_amount, dtype: float64

In [10]:
# My Answer:

my_rolling_averages.loc[['2021-01-31']]

transaction_time
2021-01-31    682.15
Name: transaction_amount, dtype: float64